# Python
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/staticfiles/
/.env

# Node.js
node_modules/
dist/
build/

# Logs
*.log

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/__pycache__/
backend/staticfiles/
backend/.env
